# This file is based on
# https://github.com/actions/upload-artifact/blob/65d862660abb392b8c4a3d1195a2108db131dd05/.github/workflows/check-dist.yml

# `dist/index.js` is a special file in Actions.
# When you reference an action with `uses:` in a workflow,
# `index.js` is the code that will run.
# For our project, we generate this file through a build process
# from other source files.
# We need to make sure the checked-in `index.js` actually matches what we expect it to be.

name: Check dist/

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  check-dist:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node 20
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'npm'
  
      - name: Install dependencies
        run: npm ci

      - name: Move the committed index.js file
        run: mv dist/index.js /tmp

      - name: Rebuild the index.js file
        run: npm run release

      - name: Compare the expected and actual index.js files
        run: git diff --ignore-all-space dist/index.js /tmp/index.js
        id: diff
